

.modal-content {
    color: black;
}

.Compagnie {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        /* background-color: white; */
        /* border-bottom: 1px solid #dee2e6; */
        /* background-color: var(--bg-main); */

    }

    .header h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .btn-new-post {
        background-color: var(--color-red);
        color: white;
        font-weight: bold;
    }

    .planner-content {
        margin: 20px;
    }

    .icons-container img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .date-picker {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .fa-calendar-days {
        margin-right: 10px;
    }

    table th,
    table td {
        vertical-align: middle;
        color: white;
    }

    .table .fa-ellipsis-v {
        cursor: pointer;
    }

    .table thead th {
        background-color:var(--color-212529);
        color: var(--color-c3d4da);
        font-weight: bold;
    }

    .table tbody td {
        vertical-align: middle;
        color: white;

    }

    .table tbody img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .btn-filter {
        background-color: #f8f9fa;
        border: none;
    }

    .status-published {
        background-color: #d4edda;
        color: #155724;
        padding: 5px 10px;
        border-radius: 5px;
    }

    @media (max-width: 768px) {
        .date-picker {
            flex-direction: column;
            align-items: flex-start;
        }

        .table {
            font-size: 14px;
        }

        .table tbody img {
            width: 40px;
            height: 40px;
        }

        .icons-container img {
            width: 30px;
            height: 30px;
        }
    }
}


